<nav class="navbar navbar-default board-header" style="z-index: 10">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand brand-icon" href="#"><img src="/img/favicon.ico" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown board-settings-options">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentBoardData teams "title" }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="share-board-button"><button class="share-board btn btn-primary" data-toggle="modal" data-target="#shareModal"><i class="fa fa-user-plus"></i>Share</button></li>
                <li class="dropdown profile-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/img/alphabet/Letter-{{charAtIndex user.name 0}}-icon.png" alt="">{{user.name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<div class="sidebar" style="z-index: 10">
    <ul class="leftbar-command-pallete">
        <li class="command-buttons">
            <div class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-plus"></i>
            </div>
            <ul class="dropdown-menu menu-right additional-features">
                <li class="ui-btn-upload" data-toggle="modal" data-target="#imgUploadModal"><i class="flaticon-up-arrow"></i><span>Upload</span></li>
                <li class="ui-btn-from-url"><i class="flaticon-link"></i><span>From URL</span></li>
                <li class="ui-btn-capture" class="img-based" data-toggle="modal" data-target="#webshotModal"><img src="/img/camera.png" alt=""><span>Capture Webpage</span></li>
                <li class="ui-btn-dropbox" class="img-based"><img src="/img/dropbox.png" alt=""><span>Link Dropbox</span></li>
                <li class="ui-btn-gdrive" class="img-based"><img src="/img/drive.png" alt=""><span>Link Google Drive</span></li>
            </ul>
        </li>
        <li class="li-divider">
        </li>
        <li class="command-buttons ui-btn-pointer">
            <div><i class="fa fa-mouse-pointer"></i></div>
        </li>
        <li class="command-buttons ui-btn-text">
            <div><i class="fa fa-text-width"></i></div>
        </li>
        <li class="command-buttons ui-btn-notes">
            <div><i class="fa fa-sticky-note"></i></div>
        </li>
        <li class="command-buttons">
            <div class="dropdown-toggle" data-toggle="dropdown"><i class="flaticon-square-3 shapes-icon"></i></div>
            <ul class="dropdown-menu menu-right shapes-feature">
                <li class="ui-btn-square"><i class="flaticon-square-1"></i></li>
                <li class="ui-btn-rounded-square"><i class="flaticon-square-2"></i></li>
                <li class="ui-btn-parallelogram"><i class="flaticon-square-4"></i></li>
                <li class="ui-btn-rectangle"><i class="flaticon-rectangular-shape-outline"></i></li>
                <li class="ui-btn-hexagon"><i class="flaticon-hexagon"></i></li>
                <li class="ui-btn-triangle"><i class="flaticon-bleach"></i></li>
                <li class="ui-btn-circle"><i class="flaticon-circle"></i></li>
                <li class="ui-btn-arrow"><i class="flaticon-arrows"></i></li>
                <li class="ui-btn-bubble"><i class="flaticon-message-speech-bubble-outline-of-rectangular-shape"></i></li>
                <li class="ui-btn-star"><i class="flaticon-nature"></i></li>
                <li class="ui-btn-diamond"><i class="flaticon-poker"></i></li>
            </ul>
        </li>
        <li class="command-buttons">
            <div class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-arrows-v"></i></div>
            <ul class="dropdown-menu menu-right shapes-feature">
                <li class="ui-btn-connector-up"><i class="flaticon-upload"></i></li>
                <li class="ui-btn-connector-down"><i class="flaticon-download"></i></li>
                <li class="ui-btn-connector-right"><i class="flaticon-next"></i></li>
                <li class="ui-btn-connector-left"><i class="flaticon-back"></i></li>
                <li class="ui-btn-connector-north-east"><i class="flaticon-arrows-7"></i></li>
                <li class="ui-btn-connector-north-west"><i class="flaticon-arrows-5"></i></li>
                <li class="ui-btn-connector-south-east"><i class="flaticon-arrows-6"></i></li>
                <li class="ui-btn-connector-south-west"><i class="flaticon-arrows-4"></i></li>
            </ul>
        </li>
        <li class="command-buttons command-pencil-tool">
            <div class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></div>
            <ul class="dropdown-menu menu-right shapes-feature">
                <li class="pencil-object"><i class="fa fa-pencil"></i></li>
                <li><i class="fa fa-paint-brush"></i></li>
                <input class="range-slider__range" type="range" value="1" min="0" max="100">
                <li class="color-box-set" data-color="#ff0000">
                    <div class="circle-color red"></div>
                </li>
                <li class="color-box-set" data-color="#FFC0CB">
                    <div class="circle-color pink"></div>
                </li>
                <li class="color-box-set" data-color="#008000">
                    <div class="circle-color green"></div>
                </li>
                <li class="color-box-set" data-color="#0000FF">
                    <div class="circle-color blue"></div>
                </li>
                <li class="color-box-set" data-color="#ffffff">
                    <div class="circle-color white"></div>
                </li>
                <li class="color-box-set" data-color="#FFA500">
                    <div class="circle-color orange"></div>
                </li>
                <li class="color-box-set" data-color="#FF1493">
                    <div class="circle-color darkpink"></div>
                </li>
                <li class="color-box-set" data-color="#000000">
                    <div class="circle-color black"></div>
                </li>
                <li class="color-box-set" data-color="#00BFFF">
                    <div class="circle-color skyblue"></div>
                </li>
                <li class="color-box-set" data-color="#FFFF00">
                    <div class="circle-color yellow"></div>
                </li>
                <li class="color-box-set">
                    <div class="circle-color white add"><span>+</span></div>
                </li>
            </ul>
        </li>
        <li class="command-buttons ui-btn-comment">
            <div><i class="fa fa-comment-o"></i></div>
        </li>
        <li class="command-buttons ui-btn-expand">
            <div><i class="fa fa-expand"></i></div>
        </li>
        <li class="command-buttons ui-btn-hand">
            <div><i class="fa fa-hand-paper-o"></i></div>
        </li>
    </ul>
</div>
<div class="footer-extra-commands">
    <ul>
        <li class="ui_extra_undo">
            <div><i class="fa fa-undo"></i></div>
        </li>
        <li class="ui_extra_redo">
            <div><i class="fa fa-repeat"></i></div>
        </li>
        <li class="ui_extra_delete">
            <div><i class="fa fa-trash-o"></i></div>
        </li>
    </ul>
</div>
<canvas id="canvas" width="1500" height="1500"></canvas>

<div class="sidebar-toggler">
    <button class="options-button-opener"><span>Properties</span></button>
</div>

{{!--
<div class="sidebar sidebar-property-close">--}} {{!--
    <button class="options-button-opener"><span>Properties</span></button>--}}
    <div class="sidebar-options sidebar-property-close">


        <div class="sidebar-options-wrapper">
            <div id="split-pane-1" class="split-pane fixed-left">
                <div id="left-component" class="split-pane-component">
                    <div class="left-component-wrapper">
                        <div class="property-header property-property">
                            Property
                        </div>
                        <div class="property-list">
                            <ul></ul>
                        </div>
                    </div>
                </div>
                <div id="my-divider" class="split-pane-divider"></div>
                <div id="right-component" class="split-pane-component">
                    <div class="right-component-wrapper">
                        <div class="property-header property-value">
                            Value
                        </div>
                        <div class="property-value">
                        </div>
                        <div class="value-list">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{!--</div>--}}



<!--
    Chatting sidebar
-->


<div class="sidebar-chat-wrapper">
    <div class="sidebar-chat-btn"><span>Chat</span></div>
    <div class="sidebar-chat">
        <div class="attachments">UPLOAD</div>
        <div class="user-status">
            <ul>
                <h4>User Status</h4>
                <li>
                    <i class="fa fa-circle circle-online"></i>
                    <span>Sanyam Singh (sam@gmail.com)</span>
                </li>
            </ul>
        </div>
        <div class="chat-window">
            <div class="top-menu">
                <div class="title">Chat</div>
            </div>
            <ul class="messages">
                {{!--<li class="chat-left">
                    <img src="/img/alphabet/Letter-A-icon.png" alt="">
                    <div>
                        <span>Sanyam Singh</span>
                        <p>lorem ipsum asdasda sd asds sda sd er a s d lorem ipsum asdasda sd asds sda sd er a s d lorem ipsum
                            asdasda sd asds sda sd er a s d</p>
                    </div>
                </li>--}}
                {{!--<li class="chat-right">

                    <img src="/img/alphabet/Letter-A-icon.png" alt="">
                    <div>
                        <span>Danish Singh</span>
                        <p>lorem ipsum asdasda sd asds sda sd er a s d lorem ipsum asdasda sd asds sda sd er a s d lorem ipsum
                            asdasda sd asds sda sd er a s d</p>
                    </div>
                </li>--}}
            </ul>
            <form class="bottom-wrapper">
                <div class="message_input_wrapper"><input id="chatmessage" placeholder="Type your message here..."/></div>
                <div class="send_message">
                    <button class="btn btn-success chat-send" type="submit"> <i class="fa fa-paper-plane-o"></i> Send</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="shareModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content member-add-share-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enter New Team Member</h4>
            </div>
            <div class="modal-body">
                <input type="search" data-boardid="{{boardid}}" class="form-control mememail" name="mememail" placeholder="Enter Email Of Team Member">
                <div class="added-members">
                    {{!--<span class="badge member-email">Sanyam Singh (sam@gmail.com) <i class="fa fa-times-circle"></i></span>--}}
                </div>
                <div>

                    <button data-boardid="{{boardid}}" class="btn btn-default pull-right sendTeamNames">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Capture webpage Modal--}}
<div class="modal" id="webshotModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content webshot-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enter URL to capture</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" class="form-control" id="webshoturl" placeholder="http://www">
                    </div>
                </div>
                <div class="row capture-icons">
                    <div class="col-xs-4">
                        <img data-width="1366" data-height="768" src="/img/notebook-computer.png" alt="">
                        <span>1366x768</span>
                    </div>
                    <div class="col-xs-4">
                        <img data-width="800" data-height="400" src="/img/ipad.png" alt="">
                        <span>800x480</span>
                    </div>
                    <div class="col-xs-4">
                        <img data-width="360" data-height="640" src="/img/smartphone.png" alt="">
                        <span>360x640</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default capture-webshot">Capture</button>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="imgUploadModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Upload Files</h4>
            </div>
            <form class="image-uploader" action="/upload/image" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="file" name="imagepath" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default capture-webshot">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>





<div>

</div>



<div id="loader-out">
    <div id="loader"></div>
</div>






<link rel="stylesheet" href="/dist/bower_components/split-pane/split-pane.css">

<script>
    (function () {
        $(document).ready(function () {
            $('html, body').css({
                overflow: 'hidden',
                height: '100%'
            });
        });
    })();

</script>
<script>
    window._globalBoardData = JSON.parse('{{{teams}}}');
    window._globaluid = '{{user._id}}';
    window._globaluname = '{{user.name}}';

</script>
<script src="/dist/bower_components/fabric.js/dist/fabric.js"></script>
<script src="/dist/js/_partials.bundle.js"></script>
<script src="/dist/bower_components/split-pane/split-pane.js"></script>
<script src="/dist/js/app.bundle.js"></script>















<!--<li><input type="number" /></li>
                        <li>
                            <select>
                                <option value="option 1">option 1</option>
                                <option value="option 2">option 2</option>
                                <option value="option 3">option 3</option>
                                <option value="option 4">option 4</option>
                                
                            </select>
                        </li>
                        <li><input type="text" value="12344512" /></li>
                        <li><input class="cstring" type="text" value="12344512" readonly disabled=true/></li>
                        <li><input type="checkbox" value=""></li>
                        <li>
                            <select>
                                <option value="option 1">true</option>
                                <option value="option 2">false</option>
                            </select>
                        </li>
                        <li>
                            <input type="color" name="favcolor" value="#ff0000">
                        </li>
                        <li><input type="file"></li>
                        <li><input type="number" /></li>
                        <li>
                            <select>
                                <option value="option 1">option 1</option>
                                <option value="option 2">option 2</option>
                                <option value="option 3">option 3</option>
                                <option value="option 4">option 4</option>
                                
                            </select>
                        </li>
                        <li><input type="text" value="12344512" /></li>
                        <li><input class="cstring" type="text" value="12344512" readonly disabled=true/></li>
                        <li><input type="checkbox" value=""></li>
                        <li>
                            <select>
                                <option value="option 1">true</option>
                                <option value="option 2">false</option>
                            </select>
                        </li>
                        <li>
                            <input type="color" name="favcolor" value="#ff0000">
                        </li>
                        <li><input type="file"></li>
                        <li><input type="number" /></li>
                        <li>
                            <select>
                                <option value="option 1">option 1</option>
                                <option value="option 2">option 2</option>
                                <option value="option 3">option 3</option>
                                <option value="option 4">option 4</option>
                                
                            </select>
                        </li>
                        <li><input type="text" value="12344512" /></li>
                        <li><input class="cstring" type="text" value="12344512" readonly disabled=true/></li>
                        <li><input type="checkbox" value=""></li>
                        <li>
                            <select>
                                <option value="option 1">true</option>
                                <option value="option 2">false</option>
                            </select>
                        </li>
                        <li>
                            <input type="color" name="favcolor" value="#ff0000">
                        </li>
                        <li><input type="file"></li>-->